header.page-header
  .page-header__navbar
    .container
      nav.main-nav
        ul.main-nav__list
          li.main-nav__item
            a(href="/") О компании
          li.main-nav__item
            a(href="/") Оплата и доставки
          li.main-nav__item
            a(href="/") Производители
          li.main-nav__item
            a(href="/") Статьи
          li.main-nav__item
            a(href="/") Контакты
          li.main-nav__item
            a(href="/") Отзывы
      .user-block
        a.user-block__login(href="/") Войти
          +icon("user", 14, 17)
        a.user-block__reg(href="/") Регистрация
  .container
    .page-header__wrap
      .page-header__top
        a.page-header__logo(href="/")
          img(src="img/logo.png" srcset="img/logo@2x.png 2x" alt="Kerner")
          span Оборудование для сверления и металлообработки
        .page-header__search
          form(action="/" method="GET")
            input(type="text" name="search" placeholder="Поиск по сайту")
        .page-header__callback
          a(href="tel:+88007758795") 8 800 775-87-95
          a.btn.btn--callback Обратный звонок
      .page-header__body
        .page-header__content
          h1.page-header__title Промышленное оборудование<br>для сверления и металлообработки
          a.btn.btn--toCatalog(href="/") Перейти в каталог
      .page-header__bottom
        .page-header__features
          +icon("delivery", 43, 49)
          .page-header__features-text
            b Поставка оборудования и запчастей
            p От 11 ведущих производителей
        .page-header__features
          +icon("delay-pay", 54, 44)
          .page-header__features-text
            b Рассрочка платежа 
            p До 45 дней с оформления заказа
        .page-header__features
          +icon("truck", 44, 50)
          .page-header__features-text
            b Доставка товаров 
            p Международная и междугородняя<br> в срок до 10 дней
  a(class="page-header__scroll")