.page-main
  .container
    p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aliquam magni harum vero velit debitis cumque obcaecati neque explicabo ipsum? Laborum blanditiis reprehenderit beatae ea ipsum voluptatum inventore veritatis tempore.
    div Mollitia accusamus esse et hic nisi aliquid illum inventore dolorem, nostrum beatae repellat totam soluta excepturi. Consequatur quaerat architecto quos repudiandae explicabo harum expedita voluptatibus saepe rem, molestias, sapiente, ex!
    div Accusantium inventore illum voluptate quam magnam, sequi, ipsam sunt eius reprehenderit officia, saepe ab? Odio ipsam sit neque mollitia consequuntur nam quasi, hic et maiores at obcaecati saepe eveniet pariatur.